*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

h1{
    color: green;
    font-style: italic;
    font-size: 46px;
}

h3{
    color: pink;
    text-align: right;
    font-size: 30px;
    margin-bottom: 0px;
}

.info{
    margin-top: 2px;
    text-align: right;
}

h4{
    color: rgb(148, 53, 167);
    margin: 0 auto;
}

.ingre-li,
.steps-li{
    color: rgb(148, 53, 167);
    margin: 0 auto;
}

